html {
	font-family: Helvetica;
}

:root {
	repC1: #DAA;
	repC2: #F22;
	demC1: #44A;
	demC2: #22F;
	indC1: #AAA;
	indC2: #555
}

.td{
	padding:5px;
	border: solid 2px #ddd;
}

.sideBox{
	border-radius: 10px;
}
.c_repBox{
	background:#FAA;
}
.c_demBox{
	background:#AAF;
}
.c_indBox{
	background:#CAC;
}

.demText{
	font-size: 20px;
	fill: #88F;
	opacity: 1;
}
.repText{
	font-size: 20px;
	fill: #F88;
	opacity: 1;
}
/* Graph SVG classes*/

/*base classes for scatter points and bargraph bars*/
.scatterPoint{
	stroke-width: 2px;
	opacity: 1.0;
}
.barBar{
	stroke-width: 2px;
	opacity: 1.0;
}

/*base color classes for the different political parties.  The "c_" prefix indicates they store color information*/
.c_dem{
	fill: #AAF;
	stroke: #22F;
}
.c_ind{
	fill: #CAC;
	stroke: #656;
}

.c_rep{
	fill: #FAA;
	stroke: #F22; 
}
/* Interaction classes- these handle stylistic changes based on user interactions */
.mOver{
	stroke-width: 5;
}
.mOverBar{
	stroke-width: 5;
	stroke: #000;
}

.fadeOut{
	opacity: 0.1;
}

.button{
	fill-opacity: .6;
	stroke-opacity: .6;

}

.yearText{
	fill: #000;
	font-size: 16px;
}

.Title{

}
.axisTitle{
	fill: #000;
	stroke-weight: "bold";
	font-size: 30px;
}

.button.active{
	fill: #FF530F;
	stroke: #FF530F;
	stroke-width: 8;
}
.button.mouseOver{
	fill: #0DE488;
	stroke: #0DE488;
/*	stroke-width: 6;*/


}

.button.neutral{
	fill: #1B8AE0;
	stroke: #1B8AE0;
/*	stroke-width: 4;*/
}

.startMonth{

}

.endMonth{

}

.butText{

}

.graphTitle{

}

.loadingText{

}

.axisLabels{

}

.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}
