html {
	font-family: Helvetica;
}

.simpleBorder{
		border-style: solid;
		border-width: 1px;
		border-radius: 5px;
		border-color: #CCC;
}
:root {
	repC1: #DAA;
	repC2: #F22;
	demC1: #44A;
	demC2: #22F;
	indC1: #AAA;
	indC2: #555
}

.td{
	border-top: solid 1px #ddd;
	vertical-align:middle;
}
.mainText{
	font-size: 20px;
}
.helpText{
	font-size: 16px;
}
h3{
}
.tableHeader{
	height: 40px;
	font-size: 18px;
	color: #555;
	position:relative;
	left:0%;
}
.headerPad{
	padding-top: 8px;
}
.titleFont{
	font-size: 14px;
    font-weight: bold;
}

.vCenter{
	position: relative;
	-webkit-transform: translateY(40%);
	-ms-transform: translateY(40%);
	transform: translateY(40%);
}
.dateFont{
	padding-top: 30px !important;
	padding-bottom: 30px !important;
	font-size: 13px;
	text-align: center;
}
.dateFont{
	font-size: 13px;
}

.pageButton{
	margin: 20px;
	height: 40px;
	width: 140px;
	color: #555;
	background: #FFF;
	position:relative;
	left:50%;
  	transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.pageButton:hover{
	  background: #FAA;
	  color: #000;
	  border-color: #666;
}
.nopad{
	padding-right: 3px !important;
	padding-left: 3px !important;
}
.smallpad{
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.infoBox{
	height: 285px !important;

}
.c_repBox{
	background:#FCC;
}
.c_demBox{
	background:#CCF;
}
.c_indBox{
	background:#DBD;
}
.h_repText{
	color: #F88;
}
.h_demText{
	color: #88F;
}
.demText{
	font-size: 20px;
	fill: #88F;
	opacity: 1;
}
.repText{
	font-size: 20px;
	fill: #F88;
	opacity: 1;
}
.helpQuestionMark{
	font-size: 45px;
	font-weight: bold;
	fill: #FFFFFF;
	opacity: 1;
}
/* Graph SVG classes*/

/*base classes for scatter points and bargraph bars*/
.scatterPoint{
	stroke-width: 0px;
	opacity: 1.0;
	cursor: pointer;
}
.barBar{
	stroke-width: 0px;
	opacity: 1.0;
}

/*base color classes for the different political parties.  The "c_" prefix indicates they store color information*/
.c_demBar{
	fill: #66F;
	stroke: #22F;
}
.c_repBar{
	fill: #F66;
	stroke: #F22; 
}
.c_dem{
	fill: #AAF;
	stroke: #22F;
}
.c_ind{
	fill: #CAC;
	stroke: #656;
}

.c_rep{
	fill: #FAA;
	stroke: #F22; 
}
/* Interaction classes- these handle stylistic changes based on user interactions */
.mOver{
	stroke-width: 2;
}
.mOverBar{
	stroke-width: 2;
}

.fadeOut{
	opacity: 0.1;
}

.button{
	fill-opacity: .6;
	stroke-opacity: .6;

}

.yearText{
	fill: #000;
	font-size: 16px;
}

.Title{

}
.axisTitle{
	fill: #000;
	stroke-weight: "bold";
	font-size: 25px;
}

.button.active{
	fill: #FF530F;
	stroke: #FF530F;
	stroke-width: 8;
}
.button.mouseOver{
	fill: #0DE488;
	stroke: #0DE488;
/*	stroke-width: 6;*/


}

.button.neutral{
	fill: #1B8AE0;
	stroke: #1B8AE0;
/*	stroke-width: 4;*/
}

.sort{
	background: #FDD;
	outline: 0;
	border: 0;
}
.help_wrapper{
    -webkit-transition: all 0.6s ease-in-out, height 0.6s ease-in-out;
    transition: all 0.6s ease-in-out, height 0.6s ease-in-out;
    position: relative;
    overflow: hidden;
    width: 100%;
    float: left;
    height: 0;
}


.help{
    background: #f4eeee;
    margin-left: -10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    float: left;
}
